/* Define CSS variables for primary and neutral colors */
:root {
  --clr-primary: #222222;
  --clr-primary-100: #232429;
  --clr-primary-200: #2a2b30;
  --clr-primary-300: #343434;
  --clr-primary-400: #7b7b7b;
  --clr-neutral-100: #ffffff;
  --clr-neutral-200: #e6e6e6;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Prevent user selection of placeholder text across different browsers */
input::-webkit-input-placeholder {
  -webkit-user-select: none;
  user-select: none;
}

input::-moz-placeholder {
  -moz-user-select: none;
  user-select: none;
}

input:-ms-input-placeholder {
  -ms-user-select: none;
  user-select: none;
}

input::-ms-input-placeholder {
  -ms-user-select: none;
  user-select: none;
}

input::placeholder {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* HTML */
html {
  font-family: "Outfit", "Poppins", sans-serif;
  font-family: "Poppins", "Outfit", sans-serif;
}

/* Body */
body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--clr-primary-100);
  background-image: -o-radial-gradient(
    circle,
    var(--clr-primary-300) 1.5px,
    rgba(0, 0, 0, 0.1) 1.5px,
    transparent 1.5px
  );
  background-image: radial-gradient(
    circle,
    var(--clr-primary-300) 1.5px,
    rgba(0, 0, 0, 0.1) 1.5px,
    transparent 1.5px
  );
  background-size: 2em 2em;
  overflow: scroll;
}

/* Gemini memo container */
#gemini-memo-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

/* App title */
.app-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--clr-neutral-200);
  opacity: 0.6;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.app-title h1 {
  font-size: 3rem;
}

.app-title p {
  visibility: hidden;
}

/* Dots spinner styling for loading animation */
.dots-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: var(--clr-primary-200);
  border-radius: 50%;
  -webkit-animation: dots 1s infinite ease-in-out both;
  animation: dots 1s infinite ease-in-out both;
}

/* Animation delay for the dots */
.dot:nth-child(1) {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.dot:nth-child(2) {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes dots {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes dots {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* Responsive styling for smaller screens */
@media only screen and (max-width: 768px) {
  .app-title {
    right: 10vw;
  }
  .app-title h1 {
    font-size: 2rem;
  }
  .app-title p {
    font-size: 0.9rem;
    visibility: visible;
  }
}

@media only screen and (max-width: 540px) {
  .app-title h1 {
    font-size: 1.5rem;
  }
  .app-title p {
    font-size: 0.8rem;
  }
}
