/* Memo Card Customizer */
.memo-card-customizer {
  height: 100vh;
  position: fixed;
  top: 50%;
  left: -9.5rem;
  width: 400px;
  height: 55px;
  background-color: var(--clr-primary-200);
  border-radius: 30px;
  -webkit-transform: translateY(-50%) rotateZ(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotateZ(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.color-themes {
  width: 340px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.theme {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--clr-primary-200);
  cursor: pointer;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.theme:hover {
  border: 1px solid var(--clr-neutral-100);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.trash-icon {
  width: 25px;
  height: 25px;
  rotate: -90deg;
}

.trash-icon svg {
  color: var(--clr-primary-400);
  stroke-width: 2px;
  cursor: pointer;
  -webkit-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
}

.trash-icon svg:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: var(--clr-neutral-200);
}

.trash-icon-popup {
  font-size: 0.8rem;
  position: absolute;
  -webkit-transform: rotateZ(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotateZ(-90deg);
  bottom: 145px;
  right: -85px;
  min-height: 40px;
  padding: 0.5rem;
  background-color: var(--clr-neutral-200);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.trash-icon-controls {
  width: 60px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.yes,
.no {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--clr-neutral-100);
  text-align: center;
  cursor: pointer;
}

.yes:hover,
.no :hover {
  opacity: 0.5;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
